<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>14:30</td>  <td><a href="https://uw-madison-datascience.github.io/git-novice-custom/01-basics/">Version Control with Git</a></td> </tr>
      <tr> <td>14:35</td>  <td><a href="https://uw-madison-datascience.github.io/git-novice-custom/02-setup/">Setting up Git</a></td></tr>
      <tr> <td>14:40</td>  <td><a href="https://uw-madison-datascience.github.io/git-novice-custom/03-create/">Creating a Repository</a></td></tr>
      <tr> <td>14:50</td>  <td><a href="https://uw-madison-datascience.github.io/git-novice-custom/04-changes/">Tracking Changes</a></td></tr>
      <tr> <td>15:10</td>  <td><a href="https://uw-madison-datascience.github.io/git-novice-custom/05-history/">Exploring History</a></td></tr>
      <tr> <td>15:35</td>  <td><a href="https://uw-madison-datascience.github.io/git-novice-custom/06-ignore/">Ignoring Things</a></td></tr>
      <tr> <td> 15:40 </td> <td> Break </td></tr>
      <tr> <td>15:50</td>  <td><a href="https://uw-madison-datascience.github.io/git-novice-custom/07-branches/">Branches</a></td></tr>
      <tr> <td>16:10</td>  <td><a href="https://uw-madison-datascience.github.io/git-novice-custom/08-conflict/">Conflicts</a></td></tr>
      <tr> <td>16:25</td>  <td><a href="https://uw-madison-datascience.github.io/git-novice-custom/09-github/">Remotes</a></td></tr>
      <tr> <td>16:35</td>  <td> Wrap up</td></tr>
      <tr> <td>After</td> <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
